name: clippy

on:
  push:
    branches: ["main", "polish_workflows"]
  pull_request:
    branches: ["main", "polish_workflows"]
  merge_group:

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    runs-on: ubuntu-latest
    outputs:
      outcome: ${{ steps.clippy.outcome }}

    steps:
      - uses: actions/checkout@v4
      - name: clippy
        id: clippy
        run: cargo clippy -- --deny warnings

  badge:
    runs-on: ubuntu-latest
    needs: clippy
    if: always()

    steps:
      - name: passing
        if: needs.clippy.outputs.outcome == 'success'
        uses: SimplePixelFont/badge-spf-action@c06336db28718ea8c013c7a5283c50393046178a
        with:
          filename: lint.png
          label: Lint
          message: passing
          labelColor: "#2d3136"
          color: "#00bfa3"
          logo: "https://raw.githubusercontent.com/The-Nice-One/GalleryArt/refs/heads/main/base_emojis/wrench.png"
          font: "https://raw.githubusercontent.com/SimplePixelFont/web-spf/refs/heads/main/Monogram-light.spf"

      - name: failing
        if: needs.clippy.outputs.outcome == 'failure'
        uses: SimplePixelFont/badge-spf-action@c06336db28718ea8c013c7a5283c50393046178a
        with:
          filename: lint.png
          label: Lint
          message: failing
          labelColor: "#2d3136"
          color: "#d94a69"
          logo: "https://raw.githubusercontent.com/The-Nice-One/GalleryArt/refs/heads/main/base_emojis/wrench.png"
          font: "https://raw.githubusercontent.com/SimplePixelFont/web-spf/refs/heads/main/Monogram-light.spf"
          
      - name: deploy 
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.GIST_SECRET }}
          gist_id: cfebb0fe555ac7e77ada109c469cdeb4
          file_path: lint.png
          file_type: binary
