name: documentation

on:
  push:
    branches: ["main", "polish_workflows"]
  pull_request:
    branches: ["main", "polish_workflows"]

jobs:
  documentation:
    name: documentation
    runs-on: ubuntu-latest
    outputs:
      percent: ${{ steps.coverage.outputs.documented }}

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: installation
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - name: calculation
        id: coverage
        uses: bewee/rustdoc-coverage-action@v1
        with:
          percentage-format: 0%

      - name: write
        run: echo "${{ steps.coverage.outputs.table }}" > documentation.md

      - name: update
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.GIST_SECRET }}
          gist_id: cfebb0fe555ac7e77ada109c469cdeb4
          gist_file_name: documentation.md
          file_type: text
          file_path: documentation.md

  badge:
    runs-on: ubuntu-latest
    needs: documentation
    if: always()

    steps:
      run: echo ${{ needs.documentation.outputs.percent }}
      - name: update documentation badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: cfebb0fe555ac7e77ada109c469cdeb4
          filename: documentation.json
          label: documentation
          message: ${{ needs.documentation.outputs.percent }}
          namedLogo: readdotcv
          valColorRange: ${{ needs.documentation.outputs.percent }}
          maxColorRange: 90
          minColorRange: 50
